<p>
    nextpage works!
  </p>
  <button type="button" (click)="editform()">Main Page</button>
  <table>
    <tr>
      <th>FirstName</th>
      <td>{{data.firstname}}</td>
    </tr>
    <tr>
      <th>LastName</th>
      <th>{{data.lastname}}</th>
    </tr>
    <tr>
      <th>Contact</th>
      <th>{{data.number}}</th>
    </tr>
    <tr>
      <th>Gender</th>
      <th>{{data.gen}}</th>
    </tr>
    <tr>
      <th>Email</th>
      <th>{{data.email}}</th>
    </tr>
    <tr>
      <th>EmployeeID</th>
      <th>{{data.empid}}</th>
    </tr>
  
  </table>